*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#f2f4f7;
}

/* HEADER */
.hero{
  background:linear-gradient(135deg,#243949,#517fa4);
  padding:70px 20px;
  text-align:center;
  color:white;
}

.hero-wrapper{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* LOGO SUPER BESAR */
.logo{
  width:85vw;
  max-width:1100px;
}


/* TEKS DI TENGAH LOGO */
.hero-text{
  position:absolute;
  text-align:center;
  color:white;

  /* BAYANGAN HITAM BIAR TEKS JELAS */
  text-shadow:
    0 2px 4px rgba(0,0,0,0.9),
    0 4px 10px rgba(0,0,0,0.8),
    0 8px 20px rgba(0,0,0,0.6);
}

}

.hero-text h1{
  font-size:56px;
  font-weight:800;
  letter-spacing:3px;
}

.hero-text p{
  font-size:22px;
  font-weight:300;
  margin-top:10px;
  letter-spacing:1.5px;
}





.hero input{
  margin-top:30px;
  padding:12px 20px;
  width:300px;
  max-width:90%;
  border:none;
  border-radius:30px;
}

/* MATERI */
.container{
  padding:40px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
  transition:.3s;
}

.card:hover{
  transform:translateY(-6px);
}

.card h3{
  font-weight:500;
}

.card button{
  margin-top:15px;
  width:100%;
  padding:10px;
  border:none;
  border-radius:25px;
  background:#243949;
  color:white;
  cursor:pointer;
  transition:.3s;
}

.card button:hover{
  transform:scale(1.05);
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:white;
  padding:25px;
  border-radius:15px;
  width:90%;
  max-width:420px;
}

.modal-box a{
  display:inline-block;
  margin-top:15px;
  background:#243949;
  color:white;
  padding:10px 15px;
  border-radius:10px;
  text-decoration:none;
}

.close{
  float:right;
  font-size:22px;
  cursor:pointer;
}

/* FOTO PEMBUAT WEBSITE */
.author-card img{
  width:110px;        /* foto kecil & rapi */
  height:110px;
  object-fit:cover;
  border-radius:50%;
  border:3px solid #243949;
  margin-bottom:12px;
}
